.signIn{
    position: relative;
        width: 360px;
        height: 720px;
    
        background: #FFFFFF;
}
.userNameL{
    
            position: absolute;
            width: 76px;
            height: 14px;
            left: 24px;
            top: 201px;
    
            font-family: 'Epilogue';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 14px;
    
            /* Dark Grey */
    
            color: #333333;
        
}
.userNameBoxL{
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 16px 16px;
        gap: 4px;
    
        position: absolute;
        width: 312px;
        height: 30px;
        left: 24px;
        top: 230px;
    
        /* Smoke Grey */
    
        background: #F4F4F4;
        border-radius: 8px;
}


.PasswordL{
    position: absolute;
        width: 73px;
        height: 14px;
        left: 24px;
        top: 299px;
    
        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
    
        /* Dark Grey */
    
        color: #333333;
}
.passwordBoxL{
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 16px 16px;
        gap: 4px;
    
        position: absolute;
        width: 312px;
        height: 30px;
        left: 24px;
        top: 327px;
    
        /* Smoke Grey */
    
        background: #F4F4F4;
        border-radius: 8px;
}