.notify-box{
         position: absolute;
        width: 328px;
        height: 74px;
        left: 16px;
        top: 560px;
    
        /* Green 3 */
    
        background: #6FCF97;
        border-radius: 8px;
}